$stark: white;
$hovercolor:#5000ff;
$background:#1f1a25;



$background:#1f1a25;

$hovercolor:#5000ff;
$hovercolor:#10e7dc;
$background:#553d67;
$greyBackground:#17252a;


$hovercolor: #F6511D;
$hovercolor: #3f00ff;


// option 1 ---------------------------

$hovercolor: #d83f87;
$secondaryColor: #00cc9f;
$buttonColor: #d83f87;


// option 2 ---------------------------

$hovercolor: #3f00ff;
$secondaryColor: #f79e02;
$secondaryColor: #3f00ff;
$buttonColor: #f79e02; // oranger button
$buttonColor: #ff3b00; // redder button
$buttonColor: #00fff6; // lime button










// $hovercolor: #e22d00;


nav {
  position: absolute;
  left: 5%;
  display: flex;
  width: 90%;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  div {
    display: inline-block;
  }
  div.other {
    a {
      font-size: 16px;
      color: $stark;
      // text-transform: uppercase;
      text-decoration: none;
    }
  }
}

div.logo {
  z-index: 2000;
  display: inline-block;
  position: relative;
  text-align: left;
  font-family: 'dinlight', sans-serif;
  a {
    font-size: 16px;
    padding: 2px 0px;
    span {
      color:$stark;
      display: inline-block;
      letter-spacing: 3px;
    }
    span.sandbox {
      font-family: 'dinmedium', sans-serif;
      color:white;
      margin-left: 2px;
    }
    span.square {
      position: relative;
      color:white;
      margin-left: 3px;
      background: $buttonColor;
      transition: 0.2s ease;
      width: 6px;
      height: 6px;
    }
    &:hover {
      span.square {
        background: white;
        width: 12px;
        height: 12px;
      }
    }
  }
}
