nav {
  position: absolute;
  left: 5%;
  display: flex;
  width: 90%;
  margin-top: 20px;
  height: 40px;
  line-height: 40px;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px; }
  nav div {
    display: inline-block; }
  nav div.other a {
    font-size: 16px;
    color: white;
    text-decoration: none; }

div.logo {
  z-index: 2000;
  display: inline-block;
  position: relative;
  text-align: left;
  font-family: 'dinlight', sans-serif; }
  div.logo a {
    font-size: 16px;
    padding: 2px 0px; }
    div.logo a span {
      color: white;
      display: inline-block;
      letter-spacing: 3px; }
    div.logo a span.sandbox {
      font-family: 'dinmedium', sans-serif;
      color: white;
      margin-left: 2px; }
    div.logo a span.square {
      position: relative;
      color: white;
      margin-left: 3px;
      background: #00fff6;
      transition: 0.2s ease;
      width: 6px;
      height: 6px; }
    div.logo a:hover span.square {
      background: white;
      width: 12px;
      height: 12px; }
