$background:#1f1a25;
$hovercolor: #3f00ff;
$secondaryColor: #3f00ff;
$buttonColor: #00fff6; // lime button



div.contact-content {
  padding-top: 70px;
  display: flex;
  width: 70%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  animation: 0.6s ease-out 0s 1 slideInFromBottomContact;
  max-width: 900px;
  // overflow-y: scroll;
}

div.about {
  width: 100%;
    text-align: left;
  p {
    font-family: 'dinmedium', sans-serif;
    font-size:52px;
    font-weight: 500;
    line-height: 90px;
    color: white;
    text-align: left;
    white-space: nowrap;
  }
}

div.details {
  padding-top: 70px;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  width: 100%;
  div {
    // background: red;
    font-size:16px;
    line-height: 24px;
    color: white;
    text-align: left;
    // background: red;
    width: 28%;
    h3 {
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 3px;
      color: #c9d2e2;
      // color: #66748c;
      color: #667faa;
      color: #778399; //
      // color: #597a7f;
      // color: #aeeeff;
      font-weight: 300;
      padding-bottom: 25px;
      line-height: 22px;
    }
    a,p {
      text-decoration: none;
      color: inherit;
    }
    a.callToAction {
      color: $buttonColor;
    }
  }
}


@keyframes slideInFromBottomContact {
  0% {
    transform: translateY(10%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width:1100px) {
  div.contact-content {
    margin-top: 12vh;
    display: block;
  }
  div.details {
    text-align: left;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
    div {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}

@media (max-width:780px) {
  div.contact-content {
    width: 90%;
  }
  div.about {
    p {
      white-space: normal;
      line-height: 64px;
      // font-size: 42px; // change when copy changes
      font-size: 38px;
    }
  }
}

@media (max-width:520px) { // change when copy changes
  div.about {
    p {
      font-size: 34px;
    }
  }
}

@media (max-width:480px) {
  div.about {
    p {
      line-height: 58px;
      // font-size: 38px; // change when copy changes
      font-size: 32px;
    }
  }
}

@media (max-width:410px) { // change when copy changes
  div.about {
    p {
      white-space: nowrap;
      font-size: 27px;
    }
  }
}
