$background:#1f1a25;
$hovercolor:#5000ff;

div.contact-content {
  padding-top: 70px;
  display: flex;
  width: 70%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  animation: 0.6s ease-out 0s 1 slideInFromBottomContact;
  max-width: 900px;
  // overflow-y: scroll;
}

div.about {
  p {
    font-size:32px;
    line-height: 50px;
    color: white;
    text-align: left;
  }
}

div.details {
  padding-top: 70px;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
  width: 100%;
  div {
    font-size:19px;
    color: white;
    text-align: left;
    // background: red;
    width: 28%;
    h3 {
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 4px;
      color: grey;
      font-weight: 300;
      padding-bottom: 25px;
    }
    a,p {
      text-decoration: none;
      color: inherit;
    }
  }
}


@keyframes slideInFromBottomContact {
  0% {
    transform: translateY(10%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width:1100px) {
  div.contact-content {
    margin-top: 12vh;
    display: block;
  }
  div.details {
    text-align: left;
    flex-direction: column;
    width: 100%;
    margin-bottom: 60px;
    div {
      width: 100%;
      margin-bottom: 40px;
    }
  }
}
@media (max-width:780px) {
  div.contact-content {
    width: 90%;
  }

  div.about {
    p {
      font-size:26px;
      line-height: 46px;
    }
  }
}
