$background:#1f1a25;

$hovercolor:#5000ff;
$hovercolor:#10e7dc;
$background:#553d67;


div.home-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  // background: red;
  //

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // z-index: -2;
  div.overlayBlend {
    mix-blend-mode: difference;
    position:absolute;
    background: $background;
    top: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  div.secondOverlayBlend {
    mix-blend-mode:exclusion;
    position:absolute;
    background: $background;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }
}

div.loading-screen {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#9198e5, $hovercolor);
  z-index: 105;
  opacity: 0;
  display: flex;
  justify-content: center;
  // align-items: center;
  color: white;
  transition: 1s ease;
  font-size: 40px;
  opacity: 1;
  // -webkit-clip-path: url(#wave);
  //         clip-path: url(#wave);
  // overflow: hidden;

  // clip-path: polygon(0% 100%,100% 100%,100% 100%, 0% 100%);
  clip-path: polygon(0% 100%,100% 100%,100% 100%, 0% 100%);
  &.on {
    animation: 1s ease-out 0s 1 loadingOverlay;
  }
  // &.off {
  //
  // }
  // display: none;
}
div.images {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}


//=== Drawing effect

@mixin btn-border-drawing(
  $color: #ccc, $hover: black, $width: 1px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    &::before { transition-delay: 0s, 0s, $duration; }
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}
.draw-border {
  @include btn-border-drawing($hovercolor, white, 1px, bottom, right);
}

div.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  // z-index: -1;
  // display: none;
  canvas {
    background: none;
    opacity: 0.5;
  }
}

div.part-of-unipro {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 4px;
  bottom: 6%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  span {
    display: inline-block;
    padding-right: 15px;
  }
  a {
    font-size: 0px;
    text-decoration: none;
    color: white;
    display: inline-block;
    // background: red;
    height: 40px;
    width: 100px;
    div#Logo {
      font-size: 0px;
      // display: inline-block;
      svg {
        fill: white;
      }
    }
  }
}

div.title {
  animation: 0.6s ease-out 0s 1 slideInFromBottom;
  text-align: center;
  font-family: 'dinmedium', sans-serif;
  font-weight: 500;
  padding: 30px 0;
  width: 70%;
  font-size: 50px;
  color: white;
  z-index: 10;
  span.blog-link {
    padding-top: 45px;
    display: block;
    a {
      text-decoration: none;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 4px;
      font-family: 'dinlight', sans-serif;
      padding: 12px 35px;
    }
  }
}

div.scroll-navigation {
  // background: red;
  position: absolute;
  left: 5%;
  bottom: 5%;
  text-align: left;
  z-index: 20;
  div.lineWrap {
    cursor: pointer;
    line-height: 35px;
    position: relative;
    div.text {
      color: white;
      // text-transform: uppercase;
      transition: 0.3s ease;
      opacity: 0;
      display:inline-block;
      transform: translate(-5px,0);
    }
    div.line {
      display:inline-block;
      background: white;
      margin-right: 20px;
      height: 1px;
      width: 15px;
      margin-bottom: 4px;
      // transform: translate(10%,0);
      transition: 0.2s ease;
    }
    div.overlay {
      position: absolute;
      top:0;
      width:  100%;
      height: 100%;
    }
    &:hover {
      div.text {
        opacity: 1;
        transform: translate(0%,0);
      }
    }
    &.selected{
      div.line {
        width: 25px;
      }
    }


  }
}

div.scroll-arrow {
  position: absolute;
  bottom: 5%;
  left: calc(50%);
  transform: translate(-50%,0);
  color: white;
  div {
    position: absolute;
    top: -55px;
    left: calc(50% - 9px);
    width: 19px;
    height: 19px;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg) ;
    -webkit-animation: arrow 2s infinite;
    animation: arrow 2s infinite;
    box-sizing: border-box;
  }
}



@keyframes slideInFromBottom {
  0% {
    transform: translateY(20%);
    opacity: 0.2;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loadingOverlay {
  0% {
    clip-path: polygon(0% 0%,100% 0%,100% 0%, 0% 0%);
  }
  30% {
    clip-path: polygon(0% 0%,100% 0%,100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 0%,100% 0%,100% 100%, 0% 100%);
  }
  80% {
    clip-path: polygon(0% 100%,100% 100%,100% 100%, 0% 100%);
    // opacity: 1;
    // -webkit-clip-path: url(#wave);
    //         clip-path: url(#wave);
  }
  100% {
    clip-path: polygon(0% 100%,100% 100%,100% 100%, 0% 100%);
    // -webkit-clip-path: url(#wave);
    //         clip-path: url(#wave);
    opacity: 1;
  }
}



@-webkit-keyframes arrow {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  10% { opacity: 1;}
  50% { opacity: 1;}
  90% { opacity: 1;}
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes arrow {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  10% { opacity: 1;}
  50% { opacity: 1;}
  90% { opacity: 1;}
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


@media (max-width:780px) {
  div.scroll-navigation {
    display: none;
  }
  div.title {
    width: 90%;
    font-size: 38px;
  }
}
